
@model Meblex.ModelsDTO.OpinionDTO
 
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<h1>Opinia Pana/Pani @Model.FirstName @Model.LastName</h1>
<hr />
<div>
   
    <dl class="row">      
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>

    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.opinionid }, new { @class = "btn btn-primary" }) 
    <a asp-action="Index" class="btn btn-secondary">Powrót od listy opini</a>
</div>