@model Meblex.ModelsDTO.ProductDTO

<div align="center" class="col-md-6 col-12 col-sm-12 col-lg-6 border-dark ">
    <div class="border">
        <img src="@Model.ImageUrl" alt="" />
        <div class="caption">
            <h3 class="pull-right">
                @Model.Name</h3>
            <h3>
                <a>@Model.Price.ToString("c")</a>
            </h3>
        </div>
        <div>
            <p class="button">
                <a class="btn btn-dark text-right" 
                    asp-controller="Home"
                    asp-action="Details"
                    asp-route-Id="@Model.ProductID">Zobacz Detale

                </a>
                <a class="btn btn-dark text-right" asp-controller="ShoppingCart"
                    asp-action="AddToShoppingCart"
                    asp-route-productId="@Model.ProductID">Dodaj do koszyka

                </a>
            </p>
 
        </div>
    </div>
</div>